body,
html {
  font-family: arial;
  line-height: 1.2;
  color:#ffffff;
  background-color:#003C62;
}



/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 650px) {

  
} 

