body,
html {
  font-family: arial;
  line-height: 1.2;
  color:#ffffff;
  background-color:#003C62;
  
}

h2 {
  
}

a {
  color:#ffffff;

}



/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 650px) {

  
} 

